* {
    list-style: none;
}

li {
    font-size: 30px;
}

li i {
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    color: aqua;
}

.right-side {
    width: 550px;
    margin-left: 50px;
}

.right-side p {
    color: gray;
    margin: 20px 0px;
}

.left-side img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.left-side {
    position: relative;
}

.left-side a {
    position: absolute;
    top: 185px;
    right: 0;
    background-color: aqua;
    color: aliceblue;
    padding: 20px;
    border-radius: 50%;

}