/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/*** Header css ***/

* {
	font-family: 'Poppins', sans-serif;
}

:before,
:after {
	box-sizing: border-box;
}

.container {
	max-width: 1250px;
	margin: auto;

}

.row {
	display: flex;
	flex-wrap: wrap;
}

.v-center {
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* header */
.header {
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;

}

.header-area{
	width: 100%;
	top: 0;
	position: absolute;
	left: 0;
}

.header .item-left {
	flex: 0 0 46%;
}

.header .logo a {
	font-size: 20px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
}

.header .item-center {
	flex: 0 0 24%;
}

.header .item-right {
	flex: 0 0 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.header .item-right li {
	text-decoration: none;
	list-style-type: none;
	padding: 35px 0;
}

.header .item-right li a{
	color: #000000;
}

.header .item-right .right-part {
	text-decoration: none;
	font-size: 16px;
	color: #555555;
	display: inline-block;
	margin-left: 29px;
	transition: color 0.3s ease;
}

/* header right cart  css */
.header .item-right .cart {
	background: #222222;
	right: 0;
	position: absolute;
	top: 110%;
	width: 380px;
	padding: 10px 10px;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}

.header .item-right li:hover .cart {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

.header .item-right .cart .cart-img {
	float: left;
	margin-left: 30px;
	margin-right: 40px;
}

.header .item-right .cart .cart-content {
	float: left;
	margin-right: 40px;
}

.header .item-right .cart .total-price {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	border-top: 1px solid grey;
}

.header .item-right .cart .cheackout-btn a {
	background: #111;
	color: #fff;
	display: block;
	padding: 25px 0;
	text-align: center;
}

.header .item-right .cart li {
	display: block;
	color: #fff;
	padding: 10px;
	margin-left: 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.header .item-right .cart li:last-child {
	margin-bottom: 0px;
}
/* header right cart  css */

/* search css */
.header .item-right li .search-from form {
	position: relative;
	width: 100%;
}

.header .item-right li .search-from {
	background: #111;
	position: absolute;
	height: 50%;
	right: 0;
	top: 100%;
	transition: .3s;
	width: 430px;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: .3s;

}

.header .item-right li:hover .search-from{
	opacity: 1;
	visibility: visible;
}

.header .item-right li .search-from input{
	background: #111;
	border: none;
	color:#fff ;
	height: 50px;
	padding: 0 15px;
	width: 100%;
}
.header .item-right li .search-from button{
	background: #11111165;
	border: none;
	color:#fff ;
	height: 50px;
	right: 0;
	position: absolute;
	width: 50px;
}

::placeholder { 
	color: #fff;
	opacity: 1; 
  }
/* search css */

.header .menu>ul>li {
	display: inline-block;
	margin-left: 20px;
}

.header .menu>ul>li>a {
	text-decoration: none;
	font-size: 14px;
	color: #222222;
	text-transform: uppercase;
	position: relative;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu {
	position: absolute;
	z-index: 500;
	background: #222 none repeat scroll 0 0;
	box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
	padding: 10px 30px;
	transition: all 0.5s ease;
	opacity: 0;
	visibility: hidden;
	height: 200px;
}

.header .menu>ul>li.menu-item-has-children {
	padding: 10px;
}


@media(min-width: 992px) {
	.header .menu>ul>li.menu-item-has-children:hover .sub-menu {
		margin-top: 20px;
		visibility: visible;
		opacity: 1;
	}
}

.header .menu>ul>li .sub-menu>li {
	margin: 0;
	border-bottom: 1px solid rgb(153, 139, 139);
	display: block;
	padding: 5px 20px;
}

.header .menu>ul>li .sub-menu>li>a {
	color: #fff;
}



.header .menu>ul>li .single-column-menu {
	min-width: 200px;
	max-width: 250px;
}

.mobile-menu-head,
.mobile-menu-trigger {
	display: none;
}

/*responsive*/
@media(max-width: 991px) {

	.header .item-center {
		order: 3;
		flex: 0 0 100%;
	}

	.header .item-left,
	.header .item-right {
		flex: 0 0 auto;
	}

	.v-center {
		justify-content: space-between;
	}

	.header .mobile-menu-trigger {
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}

	.header .mobile-menu-trigger span {
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}

	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}

	.header .mobile-menu-trigger span:before {
		top: -6px;
	}

	.header .mobile-menu-trigger span:after {
		top: 6px;
	}

	.header .item-right {
		align-items: center;
	}

	.header .menu {
		position: fixed;
		width: 320px;
		background-color: #ffffff;
		left: 0;
		top: 0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}

	.header .menu.active {
		transform: translate(0%);
	}

	.header .menu>ul>li {
		line-height: 1;
		margin: 0;
		display: block;
	}

	.header .menu>ul>li>a {
		line-height: 50px;
		height: 50px;
		padding: 0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.header .menu>ul>li>a i {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}

	.header .menu .mobile-menu-head {
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top: 0;
	}

	.header .menu .mobile-menu-head .go-back {
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color: #000000;
		font-size: 16px;
		display: none;
	}

	.header .menu .mobile-menu-head.active .go-back {
		display: block;
	}

	.header .menu .mobile-menu-head .current-menu-title {
		font-size: 15px;
		font-weight: 500;
		color: #000000;
	}

	.header .menu .mobile-menu-head .mobile-menu-close {
		height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color: #000000;
		font-size: 25px;
	}

	.header .menu .menu-main {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.header .menu>ul>li .sub-menu,
	.header .menu>ul>li .sub-menu {
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin: 0;
		padding: 15px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}

	.header .menu>ul>li .sub-menu.active {
		display: block;
	}

	@keyframes slideLeft {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0%);
		}
	}

	@keyframes slideRight {
		0% {
			opacity: 1;
			transform: translateX(0%);
		}

		100% {
			opacity: 0;
			transform: translateX(100%);
		}
	}

	.menu-overlay {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
	}

	.menu-overlay.active {
		visibility: visible;
		opacity: 1;
	}
}

/*** Header css ***/
