.section-padding {
    margin: 20px 30px;
}

.section-padding .staff-title {}

.section-padding .staff-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.section-padding .staff-title h2::before {
    content: ' ';
    position: absolute;
    top: 54px;
    left: 4px;
    height: 4px;
    width: 17%;
    background-color: blueviolet;

}

.section-padding .staff-title p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 28px;
}

.section-padding .single-staff {
    padding: 10px 20px;
    box-shadow: 17px -4px 21px #888;
    font-style: italic;
}

.section-padding .single-staff p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-padding .single-staff img {
    width: 156px;
    height: 161px;
}

.section-padding .single-staff .single-staff-title {
    margin: 30px 0px;
    line-height: 0px;
}

.section-padding .single-staff .single-staff-title h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 45px;
}

.section-padding .single-staff .single-staff-title h4 {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    line-height: 8%;

}

.single-crosule-staff .owl-nav {
    position: absolute;
    top: -68px;
    right: 39px;
    bottom: 0;
}


.single-crosule-staff .owl-nav button i {
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: #e9e6e6;
    text-align: center;
    line-height: 47px;
    margin-right: 5px;
    border-radius: 5px;
    transition: .3s;
}

.single-crosule-staff .owl-nav button i:hover {
    background-color: aqua;
    color: aliceblue;
}