* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-from {
    position: relative;

}

.section-bg img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.left-side {
    background-color: aquamarine;
    padding: 100px 100px;
    position: relative;
}

.title {
    position: absolute;
    color: #e6ddeb;
    left: 28px;
    top: 134px;
    writing-mode: vertical-rl;
    font-size: 39px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;

}

.sumbit-btn {
    width: 50%;
    color: rgba(14, 200, 182, 0.77);
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

h3 {
    text-align: center;
    margin-bottom: 32px;
}
ul>li,
.bx{
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
}